# Travis CI build for cpdisplay
language: cpp
sudo: required
dist: trusty
# Build for Linux and OS X.
os:
  - linux
  - osx
# For now, build only the master branch.
branches:
  - master
# Install Qt5.6
# Based on opencor/opencor Travis config.
install:
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
         sudo apt-apt-repository -y ppa:beineri/opt-qt561-trusty
      && sudo apt-get -qq update
      && sudo apt-get -qq install gcc-4.9 g++-4.9
      && sudo apt-get -qq install qt56base qt56svg qt56webengine
      && sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 50
      && sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 50
     ;
   else
         brew update
      && brew unlink cmake
      && brew install cmake qt5
      && chmod -R 755 /usr/local/opt/qt5/*
     ;
   fi
# Build script
script:
  -    mkdir build
    && cd build
    && if [ "${TRAVIS_OS_NAME}" == "linux" ]; then
          cmake -DCMAKE_PREFIX_PATH=/opt/qt56/lib/cmake ..
          ;
       else
          cmake DCMAKE_PREFIX_PATH=/usr/local/opt/qt5/lib/cmake ..
          ;
       fi
    && make -j4

# Email results.
notifications:
  email: vscl@tamu.edu
